<div class="main-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="text-slid-box">
          <a class="navbar-brand" href="#">
            <h4>Turn A Page With Us</h4>
          </a>
        </div>
      </div>
      <div class="right-phone-box">
        <p>Call US :- <a href="#"> +91 1234567890</a></p>
      </div>
      <div class="our-link">
        <ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" style="background-color: black;">
              <a class="dropdown-item" (click)="showProfilePage()">Profile</a>
              <a class="dropdown-item">Sign Out</a>
            </div>
          </li>
          <li><a href="#">Our location</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div>
  <header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand"><img src="assets/images/logo3.png" class="logo" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item active"><a class="nav-link" (click)="goToDash()">Home</a></li>
            <li class="nav-item"><a class="nav-link">About Us</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                data-toggle="dropdown" aria-expanded="false">
                Books
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="goToDash()">All Books</a>
                <a class="dropdown-item">Add Book Details</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                data-toggle="dropdown" aria-expanded="false">
                Stores
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item">All Stores</a>
                <a class="dropdown-item">Add Store Details</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link">Orders</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>

<div class="container">
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong>Stores List</strong>
    </div>

    <div class="panel-body" style="width: 99%;">
      <div class="row" *ngFor="let store of stores">
        <div class="col-md-1"><img src="assets/images/bookstore.png" class="media-object img-thumbnail"/></div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12" style="display: grid;">
                <div class="float-left"><label class="label label-danger"><strong>{{store.storeName}}</strong></label></div>
                <div class="span-style">
                  <span><strong>City: </strong></span><span class="label label-info">{{store.city}}</span>
                </div>
                <div class="span-style">
                  <span><strong>State: </strong></span><span class="label label-info">{{store.state}}</span>
                </div>
                <div class="col-md-12" style="font-size: large;">
                  <!-- <button class="btn btn-danger" (click)="deleteStore(store.storeId)">Delete Store</button> -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
