<!-- Background image -->
<div id="intro" class="">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8)">
    <div
      class="container-fluid d-flex align-items-center justify-content-center text-center view"
    >
      <div class="text-white">
        <h1 class="mb-3">Hotel Booking System</h1>
        <h5 class="mb-4">Only website you need to book a hotel</h5>
        <button class="btn btn-outline-light btn-lg m-2" (click)="userHome()">
          User
        </button>
        <a
          class="btn btn-outline-light btn-lg m-2"
          role="button"
          (click)="admin()"
          >Admin</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
